.roboto-thin {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", system-ui;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", system-ui;
    font-weight: 900;
    font-style: italic;
  }
  body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  nav{
    background-color: black;
    color: white;
    padding: 20px 50px;
   
  }
  .navtop{
    position: absolute;
    align-items: first baseline;
    top: 26px;
    
   
    
  }
  .navitems{
    display: flex;
    justify-content: right;
    align-items: flex-end;

}
.navitem{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.limitedOffer {
    display: flex;
    float: right;
    margin:-2% 5%;
    font-size: large;
    position: relative;
    top: 4px;
   
}
.search{
    background-color: gray;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;

}
.menuiten{
    margin-right: 50px;
}
.c2{
    display: flex;
    float: right;
    font-size: 70px;
}
.A{
  display: flex;
  background-image: url('nordwood-themes-9a58YsGiTPk-unsplash.jpg');
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 80%);

}

.c6{
    position: relative;
    top: -220px;
    right: 800px;
    color: #008000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.m{
   padding: 5px 45px;
font-size: x-large;
   background-color:black;
   color: azure;
   z-index: 1;
   cursor: pointer;
}
.A{
    color: aliceblue;
}
.c2{
    display: flex;
    width: 500vw;
}
.d{
width: 100vw;
display: flex;
justify-items: center;
align-items: center;
}
 .c3{
    position: relative;
    top: -160px;
    left: 1100PX;
  
}
.c4{
   position: relative;
    top: 28px;
    left: 94px;

   
}

.c4{
  background-color: green;
  clip-path: circle();
  z-index: 1;



}
button:hover{
  color: aliceblue;
  background-color: black;
}
.c6:nth-child(2){
  background-color: blue;
}
.features{
  display: flex;
 padding: 50px;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: larger;
}
.feature{
  display: flex;
flex-direction: column;


}
#c2{
  font-size: x-large;
position: absolute;
  top:1100px;
  left:850px;
}
h4{
  width: 377px;
  font-size: 50px;
}
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}
.color:last-child {
  background-color: darkblue;
}
#v{
font-weight: bold;
}
/* /* #c4{

    /* font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    /* font-weight: 200; */
    /* font-style: normal; */

#l{
  width: 70px;
  height: 10px;
  /* border-radius: 5px; */
  background-color: white;
  color: black;
  /* margin-right: 10px; */
  position: absolute;
  left: 280px;
  top: 500px;
  
}
/* .turbo *{
display: flex;
width: 70%;
float: left;
justify-content: space-around;
} */
.turbo *{
  flex: 1;
  background-color: white;
color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  display: flex;
  float: left;
  width: 25%;

}
.ll{
  padding: 50px;
  display: flex;
  

}
.pp{
  padding:30px ;
  display: flex;
}
.ww{
  width: 210px;
  
  display: flex;
}
.wq{
  width: 210px;
  
  display: flex;
}
.we{
  width: 210px;
  
  display: flex;
}
.r{
  width: 118px;
  position: absolute;
  top: 1720px;
}
.rr{
  width: 168px;
  position: absolute;
  top: 2150px;
}
.rrr{
  width: 118px;
  position: absolute;
  top: 1750px;
}
.gt{
  font-family: "Oswald", system-ui;
}
/* .Z{
  background-color: black;
} */
/* @media screen and (min-width: 600px) {
  body {
      font-size: 20px; 
  }
@media screen and (min-width: 1024px) {
  body {
      font-size: 22px; 
} */

.Z1{
display: flex;
position: absolute;
top: 2300px;
width: 100%;
background-color: black;
color: white;
}
.ppa{
  position: absolute;
  right: 20px;
}
.papa{
   position: absolute;
   top: 95px;
   right: 500px;
   font-size: larger;
  
    font-family: "Matemasie", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .ddd{
   
    padding: 10px;
  }
  .end{
    position: absolute;
    top: 2900px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 75%;
    
    font-family: "Matemasie", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: gray;
    font-size: small;
    list-style: none;
    

  }
  .mim{
    color: black;
    font-size: medium;
  }
  .huh{
    list-style: none;
    position: relative;
    left: -40%;
  }
  .hih{
    list-style: none;
    position: relative;
    left: -40%;
  }
  .hoh{
    list-style: none;
    position: relative;
    left: -40%;
  }
  .lol{
    color: black;
    position: absolute;
    top: 2892px;
    right: 0%;
    
  }

.wpw{
  font-size: small;

}
.join{
  padding: 9px;
}
.maroc{
 color: black;
  background-color: black;
}
.payments{
  width: 500px;
  height: 500px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  margin: auto;
  display: flex;
  flex-direction: column; 
  padding: 10px 5px;
  z-index: 1;
  box-shadow: 10px 16px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 16px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 16px 5px 0px rgba(0,0,0,0.75);
}
 

body {
  font-size: 16px;
}

@media (min-width: 600px) {
  body {
      font-size: 18px;
  }
}


@media (min-width: 1024px) {
  body {
      font-size: 20px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
